<!DOCTYPE html>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js" integrity="sha512-ElRFoEQdI5Ht6kZvyzXhYG9NqjtkmlkfYk0wr6wHxU9JEHakS7UJZNeml5ALk+8IKlU6jDgMabC3vkumRokgJA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
setTimeout(() => {
  document.location.reload();
}, {{.RefreshInterval}});
</script>
<div style="width: 100%;">
  <div class="chart-container" style="float: left; width: 45%; height: 80vh;">
    <canvas id="wind"></canvas>
  </div>
  <div class="chart-container" style="float: right; width: 45%; height: 80vh;">
    <canvas id="temp"></canvas>
  </div>
</div>
<script>
const windCtx = document.getElementById('wind');
const windChart = new Chart(windCtx, {
  type: 'line',
  options: {
    responsive: true,
    plugins: {
      legend: {
        position: 'top',
      },
      title: {
        display: true,
        text: 'Wind Speed & Gust'
      }
    },
    scales: {
      x: {
        display: true,
        title: {
          display: true,
          text: 'Month'
        }
      },
      y: {
        display: true,
        min: 0,
        suggestedMax: 50,
        title: {
          display: true,
          text: 'Kph'
        }
      }
    }
  },
  data: {
    labels: [{{.Timestamp}}],
    datasets: [{
      label: '{{.Label.WindSpeed}}',
      data: [{{.WindSpeed}}],
      fill: false,
      borderColor: '{{.Colour.WindSpeed}}',
      backgroundColor: '{{.Colour.WindSpeed}}',
      //pointStyle: 'rectRounded',
      //pointRadius: 10,
      //pointHoverRadius: 15,
      tension: 0.1
    },{
      label: '{{.Label.WindGust}}',
      data: [{{.WindGust}}],
      fill: false,
      borderColor: '{{.Colour.WindGust}}',
      backgroundColor: '{{.Colour.WindGust}}',
      //pointStyle: 'rectRounded',
      //pointRadius: 10,
      //pointHoverRadius: 15,
      tension: 0.1
    }]
  }
});
  const tempCtx = document.getElementById('temp');
  const tempChart = new Chart(tempCtx, {
    type: 'line',
    options: {
      responsive: true,
      plugins: {
        legend: {
          position: 'top',
        },
        title: {
          display: true,
          text: 'Temperature'
        }
      },
      scales: {
        x: {
          display: true,
          title: {
            display: true,
            text: 'Month'
          }
        },
        y: {
          display: true,
          //min: 0,
          //suggestedMax: 50,
          suggestedMin: 0,
          title: {
            display: true,
            text: 'Degrees Celcius'
          }
        }
      }
    },
    data: {
      labels: [{{.Timestamp}}],
      datasets: [{
        label: '{{.Label.Temperature}}',
        data: [{{.Temperature}}],
        fill: false,
        borderColor: '{{.Colour.Temperature}}',
        backgroundColor: '{{.Colour.Temperature}}',
        //pointStyle: 'rectRounded',
        //pointRadius: 10,
        //pointHoverRadius: 15,
        tension: 0.1
      },{
        label: '{{.Label.FeelsLike}}',
        data: [{{.FeelsLike}}],
        fill: false,
        borderColor: '{{.Colour.FeelsLike}}',
        backgroundColor: '{{.Colour.FeelsLike}}',
        //pointStyle: 'rectRounded',
        //pointRadius: 10,
        //pointHoverRadius: 15,
        tension: 0.1
      }]
    }
  });
  </script>

